<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <span class="text-white "><h1 class="titleScreen">{{titleScreen }}</h1></span>
                    <form action="" class="mt-3" [formGroup]="productForm" (ngSubmit)="addBook()">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control'lg" placeholder="Titulo" formControlName="title">
                            <div class="float-start ms-3 mb-2" *ngIf="productForm.get('title')?.hasError('required') && productForm.get('title')?.touched" >
                                <span class="text-danger fw-semibold"> El nombre de el producto es obligatorio </span>
                            </div> 
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control'lg" placeholder="Autor" formControlName="author">
                            <div class="float-start ms-3 mb-2" *ngIf="productForm.get('author')?.hasError('required') && productForm.get('author')?.touched" >
                                <span class="text-danger fw-semibold"> La categoría de el producto es obligatoria </span>
                            </div> 
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control'lg" placeholder="Editorial" formControlName="editorial">
                            <div class="float-start ms-3 mb-2" *ngIf="productForm.get('editorial')?.hasError('required') && productForm.get('editorial')?.touched" >
                                <span class="text-danger fw-semibold"> La ubicación es obligatoria</span>
                            </div> 
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control form-control'lg" placeholder="Precio" formControlName="price">
                            <div class="float-start ms-3 mb-2" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched" >
                                <span class="text-danger fw-semibold"> El precio de el producto es obligatorio </span>
                            </div> 
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control form-control'lg" placeholder="Imagen" formControlName="image" (change)="OnFileChange($event)" #photoInput>
                            <div class="float-start ms-3 mb-2" *ngIf="productForm.get('image')?.hasError('required') && productForm.get('image')?.touched" >
                                <span class="text-danger fw-semibold"> La imagen de el producto es obligatorio </span>
                            </div> 
                        </div>
                        <img *ngIf="image" style="max-height: 300px; margin-top: 20px" src="{{ image }}" alt="image" (click)="photoInput.click()">
                        <br>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-info float-start">Regresar</button>
                            <button type="submit" [disabled]="productForm.invalid" class="btn btn-light float-end">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>