<div class="container mt-5">
    <div class="row "> 
        <div class="col-lg-8 offset-lg-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <span class="text-white"> <h1>Libros</h1></span>
                    <button class="btn btn-secondary float-end" routerLink="/createProduct">Nuevo</button>
                    <table *ngIf="listBooks.length > 0 " class="table table-dark table-hover mt-3" >
                        <thead>
                            <tr>
                              <th scope="col" class="text-info">Titulo</th>
                              <th scope="col" class="text-info">Autor</th>
                              <th scope="col" class="text-info">Editorial</th>
                              <th scope="col" class="text-info">Precio</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor = "let book of listBooks" >
                              <th >{{book.title}}</th>
                              <td>{{book.author}}</td>
                              <td>{{book.editorial}}</td>
                              <td>{{book.price | currency: 'USD'}}</td>
                              <td class="me-0 pe-0" style="width: 1px;">
                                  <button [routerLink]="['/updateBook',book._id]"  class="btn btn-info me-2"> Editar</button>
                              </td>
                              <td class="me-0 pe-0" style="width: 1px;">
                                  <button (click)="deleteBook(book._id)" class="btn btn-light me-0"> Eliminar</button>
                              </td>
                            </tr>
                          </tbody>                        
                    </table>
                    <h6 *ngIf="listBooks.length == 0 " class="float-start mt-3 text-white">No hay libros disponibles</h6>
                </div>
            </div>
        </div>
    </div>
</div>